body{background-color:black;color:tan;}
div.sf{float:left;}
div.y{float:left;height:30px;width:1100px;background-color:maroon; border:2px solid black;}
div.x{float:left;height:30px;width:1229px;background-color:green;padding-bottom:23px;font-size:13pt; border:2px solid black; color:white;}
div.hj{background-image:url("brur.jpg");background-repeat: repeat-x;}
h1.one{background-color:gray;color:brown;text-align:center;margin-top:100px;}
div.a{float:left;margin-left:90px;height:400px;width:200px;}
div.b{float:left;margin-left:90px;height:400px;width:200px;}
div.c{float:left;margin-left:90px;height:400px;width:200px;}
div.d{float:left;margin-left:90px;height:400px;width:200px;}
div.e{float:left;margin-left:90px;height:400px;width:200px;}
div.f{float:left;margin-left:90px;height:400px;width:200px;}
div.g{float:left;margin-left:90px;height:400px;width:200px;}
div.h{float:left;margin-left:90px;height:400px;width:200px;}
div.i{float:left;margin-left:90px;height:400px;width:200px;}
div.j{float:left;margin-left:90px;height:400px;width:200px;}
div.k{float:left;margin-left:90px;height:400px;width:200px;}
div.l{float:left;margin-left:90px;height:400px;width:200px;}
div.m{float:left;margin-left:90px;height:400px;width:200px;}
div.n{float:left;margin-left:90px;height:400px;width:200px;}
div.o{float:left;margin-left:90px;height:400px;width:200px;}
div.p{float:left;margin-left:90px;height:400px;width:200px;}
div.q{float:left;margin-left:90px;height:400px;width:200px;}

