body{background-color:black;color:tan;}
div.i{float:left;}
div.j{float:left;height:30px;width:1100px;background-color:maroon; border:2px solid black;}
div.k{float:left;height:30px;width:1229px;background-color:green;padding-bottom:23px;font-size:13pt; border:2px solid black; color:white;}
div.m{background-image:url("brur.jpg");background-repeat: repeat-x;}
h1.one{background-color:gray;color:brown;text-align:center;margin-top:100px;}
p.a{font-size:17pt;}
div.e{margin-left:250px;}
table,th,td,tr{border:2px solid black;background-color:gray;margin:15px;padding:15px;color:maroon;text-align:center;}
p.f{text-align:center;margin-bottom:90px;}